.symbol {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33.333%;
  width: 100%;
  font-size: calc(48px + (102 - 48) * ((100vw - 300px) / (1280 - 300)));
}